{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="page-bottom-components">

  <section class="function-list">
    <div class="page-width page-width-desktop">
      <ul class="function-list__list">
        <li class="function-list__item">
          <a href="/collections/all" class="function-list__link">
            <span class="function-list__img"><img src="{{section.settings.image-shop | img_url: 'master'}}" alt="" width="556" height="281" loading="lazy"></span>
            <span class="function-list__text">
              <span lang="en">ONLINE SHOP</span>
              <span lang="ja">オンラインショップ</span>
            </span>
          </a>
        </li>
        <li class="function-list__item">
          <a href="/blogs/workshop" class="function-list__link">
            <span class="function-list__img"><img src="{{section.settings.image-workshop | img_url: 'master'}}" alt="" width="556" height="281" loading="lazy"></span>
            <span class="function-list__text">
              <span lang="en">WORKSHOP</span>
              <span lang="ja">ワークショップ / 教室</span>
            </span>
          </a>
        </li>
        <li class="function-list__item">
          <a href="http://plants-trade.com/" target="_blank" class="function-list__link">
            <span class="function-list__img"><img src="{{section.settings.image-plants | img_url: 'master'}}" alt="" width="556" height="281" loading="lazy"></span>
            <span class="function-list__text">
              <span lang="en">PLANTS</span>
              <span lang="ja">植物標本</span>
            </span>
          </a>
        </li>
        <li class="function-list__item">
          <a href="http://www.albatro.jp/" target="_blank" class="function-list__link">
            <span class="function-list__img"><img src="{{section.settings.image-design | img_url: 'master'}}" alt="" width="556" height="281" loading="lazy"></span>
            <span class="function-list__text">
              <span lang="en">DESIGN</span>
              <span lang="ja">デザインのご発注 / 作例</span>
            </span>
          </a>
        </li>
    </div>
  </section><!-- /.function-list -->

  {% comment %} <section class="instagram-list">
    <div class="page-width page-width--tablet">
      <h2 class="instagram-list__heading">
        INSTAGRAM
        <a href="{{ settings.social_instagram_link }}" target="_blank">
          {%- render 'icon-instagram' -%}
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </h2>
      <ul>
        <li><img src="{{section.settings.image-instagram-1 | img_url: 'master'}}" alt="" width="212" height="212" loading="lazy"></li>
        <li><img src="{{section.settings.image-instagram-2 | img_url: 'master'}}" alt="" width="212" height="212" loading="lazy"></li>
        <li><img src="{{section.settings.image-instagram-3 | img_url: 'master'}}" alt="" width="212" height="212" loading="lazy"></li>
        <li><img src="{{section.settings.image-instagram-4 | img_url: 'master'}}" alt="" width="212" height="212" loading="lazy"></li>
        <li><img src="{{section.settings.image-instagram-5 | img_url: 'master'}}" alt="" width="212" height="212" loading="lazy"></li>
      </ul>
    </div>
  </section><!-- /.instagram-list --> {% endcomment %}

  <div class="btn-pagetop sp-none"><a href="#top"><svg class="sprite-icon icon-pagetop" role="img"><use xlink:href="#pagetop"></use></svg></a></div>

  <footer class="footer color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
      <div class="footer__logo">
        <div class="footer__logo-img">
          <span class="sr-only">PRINT + PLANT</span>
          <svg class="sprite-icon icon-logo" role="img"><use xlink:href="#logo"></use></svg>
        </div>
        <div class="footer__logo-text">LETTERPRESS PRINT AND PLANTS SPECIMENT<br>BY ALBATRO DESIGN</div>
      </div><!-- /.footer__logo -->
      <div class="footer__sitemap-sns">
        <div class="footer__sitemap">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <ul class="list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- endcase -%}
          {%- endfor -%}
        </div><!-- /.footer__sitemap -->
        <div class="footer__sns">
          <div class="footer__sns-heading sp-none">SNS</div>
          <ul class="list-unstyled">
            <li><a href="{{ settings.social_twitter_link | escape }}" target="_blank"><svg class="sprite-icon icon-twitter" role="img"><use xlink:href="#twitter"></use></svg></a></li>
            <li><a href="{{ settings.social_facebook_link | escape }}" target="_blank"><svg class="sprite-icon icon-facebook" role="img"><use xlink:href="#facebook"></use></svg></a></li>
            <li><a href="{{ settings.social_youtube_link | escape }}" target="_blank"><svg class="sprite-icon icon-youtube" role="img"><use xlink:href="#youtube"></use></svg></a></li>
            <li><a href="{{ settings.social_instagram_link | escape }}" target="_blank"><svg class="sprite-icon icon-instagram" role="img"><use xlink:href="#instagram"></use></svg></a></li>
            <li><a href="{{ settings.social_note_link | escape }}" target="_blank"><svg class="sprite-icon icon-note" role="img"><use xlink:href="#note"></use></svg></a></li>
          </ul>
        </div><!-- /.footer__sns -->
      </div><!-- /.footer__sitemap-sns -->
      <div class="footer__company">
        <a href="http://www.albatro.jp/" target="_blank" class="footer__company-link">
          <div class="footer__company-img"><svg class="sprite-icon icon-albatrodesign" role="img"><use xlink:href="#albatrodesign"></use></svg></div>
          <div class="footer__company-text">DESIGN + PRODUCED<br>BY  ALBATRO DESIGN</div>
        </a>
      </div><!-- /.footer__company -->
    </div>
    <div class="footer__privacy-copyright">
      <div class="page-width">
        <div class="footer__privacy-copyright-inner">
          <div class="footer__privacy"><a href="/policies/legal-notice">LEGAL NOTICE</a></div>
          <div class="footer__privacy"><a href="/policies/terms-of-service">TERMS OF SERVICE</a></div>
          <div class="footer__privacy"><a href="/policies/privacy-policy">PRIVACY POLICY</a></div>
          <div class="footer__copyright"><small>©️ 2023 ALBATRO DESIGN</small></div>
        </div>
      </div>
    </div><!-- /.footer__privacy-copyright -->
  </footer>
</div>

<div style="display: none">
  {% render 'sprite' %}
</div>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image-shop",
      "label": "オンラインショップ画像"
    },
    {
      "type": "image_picker",
      "id": "image-workshop",
      "label": "ワークショップ/教室画像"
    },
    {
      "type": "image_picker",
      "id": "image-plants",
      "label": "植物標本画像"
    },
    {
      "type": "image_picker",
      "id": "image-design",
      "label": "デザインの発注/作例画像"
    },
    {
      "type": "image_picker",
      "id": "image-instagram-1",
      "label": "Instagram画像 1"
    },
    {
      "type": "image_picker",
      "id": "image-instagram-2",
      "label": "Instagram画像 2"
    },
    {
      "type": "image_picker",
      "id": "image-instagram-3",
      "label": "Instagram画像 3"
    },
    {
      "type": "image_picker",
      "id": "image-instagram-4",
      "label": "Instagram画像 4"
    },
    {
      "type": "image_picker",
      "id": "image-instagram-5",
      "label": "Instagram画像 5"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "background-3",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
