{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

  <div class="main-blog page-width page-width--narrow section-{{ section.id }}-padding">
    <div class="rte">
      <div class="mv"><img src="https://cdn.shopify.com/s/files/1/0551/2783/4795/files/img_workshop_mv_2048x2048.jpg?v=1677922065" alt="" width="1504" height="631" loading="lazy"></div>
      <h1 class="h1"><svg class="h1__icon sprite-icon icon-workshop sp-none" role="img"><use xlink:href="#workshop"></use></svg> <span class="h1__en">WORKSHOP</span> <span class="h1__ja">ワークショップ / 教室</span></h1>
      <p>PRINT+PLANTでは、活版印刷のアナログ性を生かしながらさらなる可能性を独自研究し、新しい印刷手法を”特殊活版”と名付けて開発しています。<br>
      別の色を足し続けていくことで異なった配色で印刷する「ランダム印刷」や「グラデーション 印刷」を中心に、オンラインでもご注文いただます。</p>
    </div>

    <div class="blog-category">
      <div class="blog-category__colors">
        <span class="blog-category__colors-item is-red"></span>
        <span class="blog-category__colors-item is-green"></span>
        <span class="blog-category__colors-item is-yellow"></span>
        <span class="blog-category__colors-item is-gray"></span>
      </div>
      <div class="blog-category__links">
        TAG : WORKSHOP / EVENT / CLASS / NEWS
      </div>
    </div>

    <h2 class="h2" id="WORKSHOP">現在募集中ワークショップ </h2>
    <ul class="blog-list">
      {% comment %} WORKSHOPのブログをループで20記事取得して募集中のものだけ表示 {% endcomment %}
      {% liquid
        assign workshop_count = 0
        for article in blogs['WORKSHOP'].articles limit: 50
          if article.tags contains 'wanted' and article.tags contains 'workshop'
            assign workshop_count = workshop_count | plus: 1
            render 'blog-list-item', article: article, blog_handle: 'WORKSHOP'
          endif
        endfor
      %}
    </ul>
    {% if workshop_count == 0 %}
      <p class="no-blog-item center">
        現在募集中のワークショップはございません<br>
        次回の募集をお待ち下さい
      </p>
    {% endif %}

    <h2 class="h2">募集中の教室 </h2>
    <ul class="blog-list">
      {% liquid
        assign class_count = 0
        for article in blogs['WORKSHOP'].articles  limit: 50
          if article.tags contains 'wanted' and article.tags contains 'class'
            assign class_count = class_count | plus: 1
            render 'blog-list-item', article: article, blog_handle: 'CLASS'
          endif
        endfor
      %}
    </ul>
    {% if class_count == 0 %}
      <p class="no-blog-item center">
        現在募集中の教室はございません<br>
        次回の募集をお待ち下さい
      </p>
    {% endif %}

    <h2 class="h2">その他のお知らせ</h2>
    <ul class="blog-list">
      {% liquid
        assign news_count = 0
        for article in blogs['WORKSHOP'].articles  limit: 50
        if article.tags contains 'news'
          assign news_count = news_count | plus: 1
          render 'blog-list-item', article: article, blog_handle: 'NEWS'
          endif
        endfor
      %}
    </ul>
    {% if news_count == 0 %}
      <p class="no-blog-item center">現在お知らせはございません</p>
    {% endif %}
  </div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
